body{
    background-color:moccasin
}
.boton {
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #96bdfc; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 10px; 
    }

    .tarjeta{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        width: 420px;
        border: 1px solid lightgray;
        box-shadow: 10px 10px 20px 15px #8f6464d1;
        border-radius:15px;
        font-family: sans-serif;
        background-color: #fd6161d1;
      }
      .titulo{
        font-size: 24px;
        padding: 10px 10px 0 10px;;
      }
      .cuerpo{
        padding: 10px;
      }